# R 
*.Rproj.user
*.Rhistory
*.Ruserdata
*.RDataTmp
*.RData

# Log files
logs/
*.log

# R plots
Rplots.pdf
Rplots.png

# Model files
*.hd5

# Figures (optional - uncomment if you don't want to track figures)
figures/

# keras models
*.keras
*.model

*.pdf